


<br />
<div class="container">

    <div class="row">
        <div class="col-sm-8"> <h2><img src="~/assets/img/LOGO.png" width="30%" alt="Alternate Text" /> <b>REST API PROJECT MANAGERS</b> </h2></div>
        <div class="col-sm-4 mt-4"> <a href="/ProjectManager/CreatProjectManager" type="button" class="btn LeftColer" style=" margin-top: 18px; margin-bottom: 26px;"> Add New Project Manager</a> </div>

    </div>

    <table id="WorkTable" class=" table table-responsive-sm" style="text-align:center">
        <thead class="thead-dark" id="">
            <tr>
                <th hidden>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>Email</th>
                <th> Edit</th>
                <th>Delete</th>
            </tr>
        </thead>


    </table>

</div>




<script>
    $('document').ready(function () {
        //show
        $.ajax({
            url: '/api/ApiProject/APIShowProjectManagers',
            //data: { ProjectID: ProjectId },
            contentType: "application/json",
            dataType: "json",
            success: function (data) {

                var html = "";
                var i;

                for (i = 0; i < data.length; i++) {

                    html = html + "<tr>" +
                        "<td hidden>" + data[i].id + "</td>" +
                        "<td>" + data[i].firstName + "</td >" +
                        "<td>" + data[i].lastName + "</td>" +
                        "<td>" + data[i].email + "</td>" +
                        "<td><a href=\"/ProjectManager/EditProjectManager?ProjectManagerID=" + data[i].id + "\" class=\"btn LeftColer\"><i class=\"glyphicon glyphicon-user\"></i>Edit</a></td>"+
                        "<td><button class=\"APIDeleteProjectManager btn TopColer\" value=\"" + data[i].id + "\"> Delet </button ></td >" +
                        "<tr>";
                }
                $("#WorkTable").append(html);

                

                $(".APIDeleteProjectManager").click(function () {
                    var ProjectManagerId = $(this).val();
                   
                    $.ajax({

                        url: '/ProjectManager/DeletProjectManager',
                        data: { ProjectManagerID: ProjectManagerId },
                        contentType: "application/json",
                        dataType: "json",
                        success: function (data) {

                            if (data == "YES") {

                                alert('Delete operation completed.');
                                location.reload(true);

                            }
                            else {

                                alert("The project manager is still managing projects.\n You can't delete him until all his projects are completed.");
                            }
                           
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });

            },
            error: function () {
                alert("error");
            }
        });

    });

</script>


