
@model List<TeamLeader>;
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-8"> <h2><img src="~/assets/img/LOGO.png" width="30%" alt="Alternate Text" /> <b> TEAM LEADERS</b> </h2></div>
       
        <div class="col-sm-4 mt-4"> <a href="/TeamLeader/CreatTeamLeader" type="button" class="btn LeftColer" style=" margin-top: 18px; margin-bottom: 26px;"> Add New Team Leader</a> </div>

    </div>

    <table class="table table-responsive-sm" style="text-align:center">
        <thead class="thead-dark">
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Edit</th>
                <th>Delet</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var TeamLeader = item;
                <tr>
                    <td>@TeamLeader.FirstName</td>
                    <td>@TeamLeader.LastName</td>
                    <td><a href="/TeamLeader/EditTeamLeader?TeamLeaderID=@item.Id" class="btn LeftColer"><i class="glyphicon glyphicon-user"></i>Edit</a></td>
                    <td>
                        @*<a href="/TeamLeader/DeletTeamLeader?TeamLeaderID=@item.Id" class="btn btn-danger"><i class="glyphicon glyphicon-user"></i>Delet</a>*@
                        <button class="DeleteTeamLeader btn TopColer" value="@item.Id">Delet </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br /><br /><br />
    <div class="row">

        <div class="col-sm-4 mt-4"> <a href="/Home/Index" type="button" class="btn LeftColer" style=" margin-top: -10px; margin-bottom: 26px;"> Go Back To Home</a> </div>

    </div>

</div>

<script>

    $('document').ready(function () {
        $(".DeleteTeamLeader").click(function () {
            var TeamLeaderID = $(this).val();
            $.ajax({

                url: 'DeletTeamLeader',
                data: { TeamLeaderId: TeamLeaderID} ,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {

                    if (data == "YES") {

                        alert('Delete operation completed.');
                        location.reload(true);

                    }
                    else {

                        alert("This Team Leader works on a project.\n You can't delete him until all his projects are completed.");
                    }
                   
                },
                error: function () {
                    alert("error");
                }
            });
        });
    });

</script>
